/Lab5/StringUtils/nbproject/private/
/Lab5/StringUtils/build/
/Lab5/StringUtils/dist/
/Lab5/World/nbproject/private/
/Lab5/World/build/
/Lab5/World/dist/
/Lab5/DateAndTimeGUI/nbproject/private/
/Lab5/DateAndTimeGUI/build/
/Lab5/DateAndTimeGUI/dist/
/Lab6/MarqueeText/nbproject/private/
/Lab6/MarqueeText/build/
/Lab6/MarqueeText/dist/
/Lab3/TemperatureConvert/nbproject/private/
/Lab3/TemperatureConvert/build/
/Lab3/TemperatureConvert/dist/
/Lab3/TempConvUseInnerClass/nbproject/private/
/Lab3/TempConvUseInnerClass/build/
/Lab3/TempConvUseInnerClass/dist/
/Lab3/QuadraticEquation/nbproject/private/
/Lab3/QuadraticEquation/build/
/Lab3/QuadraticEquation/dist/
/Lab4/MainClass/nbproject/private/
/Lab4/MainClass/build/
/Lab4/MainClass/dist/
/Lab4/Q2/MainClass/nbproject/private/
/Lab4/Q2/MainClass/build/
/Lab4/Q2/MainClass/dist/
/Lab4/Complex_Numbers/MainClass/nbproject/private/
/Lab4/Complex_Numbers/MainClass/build/
/Lab4/Complex_Numbers/MainClass/dist/
