/Lab5/StringUtils/nbproject/private/
/Lab5/StringUtils/build/
/Lab5/StringUtils/dist/
/Lab5/World/nbproject/private/
/Lab5/World/build/
/Lab5/World/dist/
/Lab5/DateAndTimeGUI/nbproject/private/
/Lab5/DateAndTimeGUI/build/
/Lab5/DateAndTimeGUI/dist/
/Lab6/MarqueeText/nbproject/private/
/Lab6/MarqueeText/build/
/Lab6/MarqueeText/dist/
/Lab3/TemperatureConvert/nbproject/private/
/Lab3/TemperatureConvert/build/
/Lab3/TemperatureConvert/dist/
